---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <h1>Lorem ipsum dolor</h1>
  <p>
    sit amet consectetur adipisicing elit. Maiores temporibus vel ipsum architecto tempore, magni facere, consequatur
    numquam unde, necessitatibus non ullam assumenda neque. Recusandae earum corrupti aliquid veritatis? Amet?
  </p>
</Layout>
